:root {
	--theme-dark: #444;
	--theme-light: #eee;
	--message: rgb(150, 150, 150);
	--button-on: rgb(0, 192, 0);
	--btn-inactive: rgb(179, 179, 179);
	--mono: Monaco, "Lucida Console", "Ubuntu Mono", monospace;
	--sans-serif: Helvetica, "Roboto", "open sans", 'Source Han Sans TC', 'Source Han Sans TW', 'source-han-sans-sc', 'Source Han Sans SC', 'Source Han Sans CN', 'Source Han Sans', 'Noto Sans CJK TC', 'Noto Sans CJK SC', 'Noto Sans CJK', sans-serif;
	--serif: "Alegreya", Georgia, 'Source Han Serif TC', 'Source Han Serif TW', 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif', 'Noto Serif CJK TC', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Songti SC', 'Microsoft YaHei', serif;
	--sans: ;
	--article-box: rgb(219, 219, 219);
	--article-box-hover: rgb(230, 228, 195);
}